* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background-color: #eff1f3;
}

.header--logo {
  width: 10rem;
  align-self: center;
  padding-left: 1rem;
}

.header__nav {
  display: grid;
  height: 4rem;
  grid-template-columns: repeat(8, 1fr);
}

.header__nav :nth-child(4) {
  grid-column-start: 8;
  width: 5rem;
}

.nav__p--text {
  justify-self: center;
  align-self: center;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.822);
  font-size: larger;
  font-family: "Fira Sans", sans-serif;
}

.header__picture {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url(/photos/1800x825_startsida_host_tjej.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  aspect-ratio: 12/4;
  padding-bottom: 3rem;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
  font-family: "Fira Sans", sans-serif;
}

.figure__button {
  height: 3rem;
  width: 7rem;
  background: #fdd041;
  color: #000;
  border: none;
  font-size: 1rem;
}

.figure__h1 {
  color: white;
}

.artikel__h2 {
  margin-top: 3rem;
  font-family: "Fira Sans", sans-serif;
  color: rgba(0, 0, 0, 0.822);
}

.section__h2 {
  margin-top: 5rem;
  font-family: "Fira Sans", sans-serif;
  color: rgba(0, 0, 0, 0.822);
}

.articel__h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-family: "Fira Sans", sans-serif;
  color: rgba(0, 0, 0, 0.822);
}

.section__figcaption--text {
  font-size: 0.9rem;
  font-family: "Fira Sans", sans-serif;
  color: rgba(0, 0, 0, 0.808);
}

main {
  width: 80vw;
  margin: 0 auto;
}

.main__div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.section--picsmall {
  width: 27rem;
  margin-bottom: 1rem;
}

.section__btn--pic {
  margin-top: 1rem;
  padding: 1rem;
  background: #fdd041;
  color: #000;
  border: none;
  font-size: 1rem;
}

.articel__family {
  background-image: url(/photos/1920x1275-hostlov-start.jpg);
  background-size: 100% 100%;
  height: 20rem;
}

.articel__bedroom {
  background-image: url(/photos/1920x1920-host-startsida-2.jpg);
  background-size: 100% 100%;
  height: 20rem;
}

.articel__coffiebed {
  background-image: url(/photos/1920x1275-elite-hotels-det-ar-du-vard-sang-par.jpg);
  background-size: 100% 100%;
  height: 20rem;
}

.section--bigpic {
  width: 40rem;
  margin-bottom: 1rem;
}

.articel__treat {
  background-image: url(/photos/1920x1275-host-pa-balkong-staycation.jpg);
  background-size: 100% 100%;
  height: 30rem;
}

.articel__checkin {
  background-image: url(/photos/1920x1275-host-pa-checka-in.png);
  background-size: 100% 100%;
  height: 30rem;
}

.fotter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: solid;
  border-color: rgba(0, 0, 0, 0.192);
  background-color: rgba(128, 128, 128, 0.541);
  margin-top: 5rem;
  height: 4rem;
}

.fotter__p--text {
  display: grid;
  justify-content: center;
  align-content: center;
  font-family: "Fira Sans", sans-serif;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.822);
}

.fotter__img {
  grid-column-start: 4;
  width: 5rem;
  justify-self: center;
}

/* room html */

.header__picture--room {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: column;
  background-image: url(/photos/1920x1275_borehb_rum_sup_9.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  aspect-ratio: 12/4;
  padding-bottom: 3rem;
  font-size: 2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
  font-family: "Fira Sans", sans-serif;
}

.main__ul--pricenav {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 2rem;
  list-style: none;
  font-family: "Fira Sans", sans-serif;
}

.main__ul--roomtext {
  display: grid;
  justify-self: center;
  align-self: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.849);
}

.main__ul--slidecontainer {
  display: grid;
  justify-self: center;
  align-self: center;
}

.ul_li--btn {
  display: grid;
  justify-self: center;
  align-self: flex-end;
  padding: 0.7rem;
  background: #fdd041;
  color: #000;
  border: none;
  font-size: 1rem;
}

.li__p--text {
  display: grid;
  justify-self: center;
}

.main__h2--roomtext {
  margin-top: 2rem;
  color: rgba(0, 0, 0, 0.849);
}

.main__div--room {
  display: flex;
}

.section__fig--roomone {
  background-image: url(/photos/01-night.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
}

.section__fig--roomtwo {
  background-image: url(/photos/02-night.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
}

.section__fig--roomthree {
  background-image: url(/photos/03-night.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
}

.section__fig--roomfour {
  background-image: url(/photos/05-night.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
}

.section__fig--roomfive {
  background-image: url(/photos/06-night.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 40%;
}
.div__section--rooms {
  display: flex;
  width: 100%;
  background-color: antiquewhite;
  margin-top: 2rem;
  height: auto;
}

.section__h2--text {
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.801);
}

.section__articel--text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  font-family: "Fira Sans", sans-serif;
}

.article__p--text {
  margin-top: 1rem;
  margin-left: 1rem;
  color: rgba(0, 0, 0, 0.863);
}

.article__p--pris {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.863);
}

.section__ul--room {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  list-style: none;
  font-size: 0.9rem;
  margin-top: 1rem;
  color: rgba(0, 0, 0, 0.678);
}

.section__ul--item {
  margin-left: 1rem;
  margin-right: 1rem;
  justify-self: center;
}

.section__btn--boka {
  padding: 0.7rem;
  background: #fdd041;
  color: #000;
  border: none;
  font-size: 1rem;
  width: 15rem;
}

@media only screen and (max-device-width: 1080px) {
  .main__div {
    flex-direction: column;
    align-content: center;
  }

  .header__picture {
    padding-bottom: 1.5rem;
    aspect-ratio: 8/4;
  }

  .header__picture--room {
    padding-bottom: 1.5rem;
    aspect-ratio: 8/4;
  }

  .figure__h1 {
    font-size: 2.55rem;
  }

  .artikel__h2 {
    display: flex;
    justify-content: center;
  }

  .div__section--rooms {
    flex-direction: column;
    width: 100%;
  }

  .picroom {
    height: 20rem;
    width: 100%;
  }

  .section__articel--text {
    width: 100%;
  }
}

@media only screen and (max-device-width: 650px) {
  .main__div {
    flex-direction: row;
    align-content: center;
  }

  .header__picture {
    padding-bottom: 1rem;
    aspect-ratio: 8/4;
  }

  .header__picture--room {
    padding-bottom: 1rem;
    aspect-ratio: 8/4;
  }

  .header__nav {
    grid-template-columns: repeat(3, 1fr);
  }

  .articel__checkin {
    height: 20rem;
  }

  .articel__treat {
    height: 20rem;
  }

  .figure__h1 {
    font-size: 1.65rem;
  }
}

@media only screen and (max-device-width: 426px) {
  .header__picture {
    padding-bottom: 1rem;
    font-size: 0.7rem;
    aspect-ratio: 8/4;
  }

  .header__picture--room {
    padding-bottom: 1rem;
    aspect-ratio: 8/4;
  }

  .articel__family {
    height: 15rem;
  }

  .header__nav {
    grid-template-columns: repeat(4, 1fr);
  }

  .header__nav :nth-child(1) {
    width: 7rem;
  }

  .header__nav :nth-child(2) {
    padding-left: 1rem;
  }

  .header__nav :nth-child(3) {
    padding-left: 1rem;
  }

  .header__nav :nth-child(4) {
    padding-right: 1rem;
  }

  .section__figcaption--text {
    font-size: 1.2rem;
  }

  .fotter__p--text {
    margin-left: 1rem;
  }

  .figure__h1 {
    font-size: 1.3rem;
  }

  .picroom {
    height: 15rem;
    width: 100%;
  }

  .section__ul--room {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

  .main__ul--pricenav {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    margin-top: 1rem;
  }

  .main__ul--slidecontainer {
    grid-area: 2;
    margin: 0.5rem;
  }
}
